@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

h1 {
  font-size: 1.5rem /* 24px */;
  line-height: 2rem /* 32px */;
  color: #333437;
}